<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internship Details</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Internship Management</h1>
        </div>
        <div class="nav-div">
            <nav>
                <a href="/student/internship">Dashboard</a>
                <a href="/student/profile">Profile</a>
                <a href="/">Log out</a>
            </nav>
        </div>
    </div>

    <div class="detail-container">
        <h2><%=title%></h2>

        <div class="info-block">
            <label>Company:</label>
            <p><%=name%></p>
        </div>

        <div class="info-block">
            <label>Location:</label>
            <p><%=location%></p>
        </div>

        <div class="info-block">
            <label>Type:</label>
            <p><%=type%></p>
        </div>

        <div class="info-block">
            <label>Required Skills:</label>
            <p><%=skills%></p>
        </div>

        <div class="info-block">
            <label>Salary:</label>
            <p><%=salary%></p>
        </div>

        <div class="info-block">
            <label>Duration:</label>
            <p><%=duration%> Months</p>
        </div>

        <div class="info-block">
            <label>Deadline:</label>
            <p><%=deadline%></p>
        </div>

        <div class="info-block">
            <label>Description:</label>
            <p><%=description%></p>
        </div>
        <%if (application === null) {%>
        <a href="/student/internship/<%=id%>/apply" class="submit-button">Apply for Internship</a>
        <%} else {%>
        <div class="info-block">
            <label>Application Status:</label>
            <p><%=status ? status : "On review"%></p>
        </div>
        <%}%>
    </div>
</body>
</html>
